trigger:
- main  # Change this to your main branch name if different

pool:
  vmImage: 'ubuntu-latest'

jobs:
- job: Build
  displayName: 'Build and Test'
  steps:
  - task: Maven@3
    inputs:
      mavenPomFile: 'pom.xml'
      goals: 'clean install'
      publishJUnitResults: true
      testResultsFiles: '**/surefire-reports/TEST-*.xml'

- job: Deploy
  displayName: 'Deploy to Azure'
  dependsOn: Build
  condition: succeeded()
  steps:
  - task: AzureWebApp@1
    inputs:
      azureSubscription: '<MyAzureConnection>'
      appName: '<test>'
      package: '$(System.DefaultWorkingDirectory)/api-cenima/target/*.jar'
      deployToSlotOrASE: false
